*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    background-color: #F4EEE0;
}

.header{
    padding-left: 0px;
    padding-right: 0px;
    border: none;

}

.navbar-nav{
    margin-left: 0px;
    padding-left: 0px;
}

.btn-outline-success{
    border: none;
    background-color: white;
    color: black;

}

.btn-outline-success:hover{
    border: none;
    background-color: #6D5D6E;
    color: black;

}
.nav-item{
    margin-left: 1vh;
    color: black;
}
.nav-item:hover{
    border: none;
    background-color: #6D5D6E;
    color: black;
}


.col{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}


/* Media Query */

@media only screen and  (max-width: 600px){
    .navbar-brand img{
        
        width: 50px;
        height: 50px;

    }
    .btn-outline-success{
        border: none;
        color: black;
        margin: 0%;
    }
    .btn-outline-success:hover{
        border: none;
        background-color: blanchedalmond;
        color: black;
    
    }
}