

body{
    background-color: #FFE5CA;
}

header{
    color: aqua;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 7%;
}

nav ul li a{
    color: aliceblue;
    text-decoration: none;
}

.btn-outline-success{
    border: none;
    background-color: white;
    color: black;

}

.btn-outline-success:hover{
    border: none;
    background-color: blanchedalmond;
    color: black;

}

/* .bi-cart svg{
    padding-left: 50%;
}  */

.col{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}


/* Media Query */

@media only screen and  (max-width: 600px){
    .navbar-brand img{
        width: 100px;
        height: 100px;
    }
    .btn-outline-success{
        border: none;
        color: black;
        margin: 0%;
    }
    .btn-outline-success:hover{
        border: none;
        background-color: blanchedalmond;
        color: black;
    
    }
}